<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>250</real>
      <key>name</key>
      <string>m</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>324</real>
      <key>name</key>
      <string>f</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>465</real>
      <key>name</key>
      <string>f1</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>155</real>
      <key>name</key>
      <string>t</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>620</real>
      <key>name</key>
      <string>t1</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>930</real>
      <key>name</key>
      <string>t2</string>
    </dict>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-142</real>
      <key>name</key>
      <string>t4</string>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>uni000D</string>
    <string>space</string>
    <string>K</string>
    <string>i</string>
    <string>D</string>
    <string>d</string>
    <string>s</string>
    <string>n</string>
    <string>u</string>
    <string>m</string>
    <string>E</string>
    <string>o</string>
    <string>p</string>
    <string>P</string>
    <string>R</string>
    <string>S</string>
    <string>q</string>
    <string>r</string>
    <string>t</string>
    <string>e</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>F</string>
    <string>G</string>
    <string>O</string>
    <string>H</string>
    <string>N</string>
    <string>M</string>
    <string>Q</string>
    <string>T</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>I</string>
    <string>L</string>
    <string>J</string>
    <string>l</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>j</string>
    <string>k</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>backslash</string>
    <string>zero</string>
    <string>slash</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>ampersand</string>
    <string>nine</string>
    <string>period</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>comma</string>
    <string>at</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bar</string>
    <string>exclam</string>
    <string>quotesingle</string>
    <string>percent</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>hyphen</string>
    <string>quotedbl</string>
    <string>equal</string>
    <string>dollar</string>
    <string>numbersign</string>
    <string>question</string>
    <string>less</string>
    <string>greater</string>
    <string>underscore</string>
    <string>asciicircum</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>ellipsis</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>minus</string>
    <string>endash</string>
    <string>emdash</string>
    <string>asciitilde</string>
    <string>exclamdown</string>
    <string>sterling</string>
    <string>currency</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>circumflex</string>
    <string>acute</string>
    <string>tilde</string>
    <string>caron</string>
    <string>ring</string>
    <string>breve</string>
    <string>macron</string>
    <string>questiondown</string>
    <string>degree</string>
    <string>copyright</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>ordfeminine</string>
    <string>Euro</string>
    <string>registered</string>
    <string>multiply</string>
    <string>germandbls</string>
    <string>ogonek</string>
    <string>cedilla</string>
    <string>dotaccent</string>
    <string>uni0326</string>
    <string>fraction</string>
    <string>periodcentered</string>
    <string>ae</string>
    <string>Thorn</string>
    <string>eth</string>
    <string>thorn</string>
    <string>dcroat</string>
    <string>hbar</string>
    <string>bullet</string>
    <string>uni03BC</string>
    <string>uni20B9</string>
    <string>trademark</string>
    <string>florin</string>
    <string>paragraph</string>
    <string>uni2113</string>
    <string>longs</string>
    <string>cent</string>
    <string>yen</string>
    <string>ordmasculine</string>
    <string>hungarumlaut</string>
    <string>AE</string>
    <string>dotlessi</string>
    <string>Oslash</string>
    <string>oslash</string>
    <string>divide</string>
    <string>Hbar</string>
    <string>OE</string>
    <string>oe</string>
    <string>grave</string>
    <string>uni00A0</string>
    <string>perthousand</string>
    <string>franc</string>
    <string>uni0394</string>
    <string>uni03A9</string>
    <string>estimated</string>
    <string>pi</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>partialdiff</string>
    <string>product</string>
    <string>summation</string>
    <string>uni2215</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>lozenge</string>
    <string>plusminus</string>
    <string>logicalnot</string>
    <string>f_f</string>
    <string>fi</string>
    <string>fl</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>longs_t</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Tbar</string>
    <string>tbar</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>zero.superior</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>onequarter</string>
    <string>Eth</string>
    <string>Dcroat</string>
    <string>dotlessj</string>
    <string>kgreenlandic</string>
    <string>IJ</string>
    <string>ij</string>
    <string>Tcedilla</string>
    <string>tcedilla</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>tildecomb</string>
    <string>macroncomb</string>
    <string>brevecomb</string>
    <string>dotaccentcomb</string>
    <string>dieresiscomb</string>
    <string>ringcomb</string>
    <string>hungarumlautcomb</string>
    <string>caroncomb</string>
    <string>cedillacomb</string>
    <string>ogonekcomb</string>
    <string>Germandbls</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Aogonek</string>
    <string>aogonek</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>dcaron</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>Gbreve</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>gcommaaccent</string>
    <string>gcircumflex</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Itilde</string>
    <string>itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>Kcommaaccent</string>
    <string>kcommaaccent</string>
    <string>Lacute</string>
    <string>lacute</string>
    <string>Lcommaaccent</string>
    <string>lcommaaccent</string>
    <string>lcaron</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>Ncommaaccent</string>
    <string>ncommaaccent</string>
    <string>Ncaron</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ohungarumlaut</string>
    <string>ohungarumlaut</string>
    <string>Racute</string>
    <string>racute</string>
    <string>Rcommaaccent</string>
    <string>rcommaaccent</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Tcaron</string>
    <string>tcaron</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>uhungarumlaut</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>Tcommaaccent</string>
    <string>tcommaaccent</string>
    <string>Wgrave</string>
    <string>wgrave</string>
    <string>Wacute</string>
    <string>wacute</string>
    <string>Wdieresis</string>
    <string>wdieresis</string>
    <string>gravecomb</string>
    <string>Ygrave</string>
    <string>ygrave</string>
    <string>agrave</string>
    <string>ugrave</string>
    <string>Lcaron</string>
  </array>
</dict>
</plist>
