<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A1</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1.C1</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern1.D1</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>public.kern1.E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
  </array>
  <key>public.kern1.G1</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern1.H1</key>
  <array>
    <string>H</string>
    <string>Hcircumflex</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1.I1</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Itilde</string>
  </array>
  <key>public.kern1.J1</key>
  <array>
    <string>IJ</string>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern1.K</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
  </array>
  <key>public.kern1.O1</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Otilde</string>
  </array>
  <key>public.kern1.R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>public.kern1.S1</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern1.T1</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern1.U1</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern1.W1</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.Y1</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
  </array>
  <key>public.kern1.Z1</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1.a1</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern1.c1</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
  </array>
  <key>public.kern1.comma1</key>
  <array>
    <string>comma</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.copyright1</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>public.kern1.e1</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
  </array>
  <key>public.kern1.endash1</key>
  <array>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern1.g1</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
  </array>
  <key>public.kern1.h1</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
  </array>
  <key>public.kern1.i1</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>itilde</string>
    <string>longs</string>
  </array>
  <key>public.kern1.j1</key>
  <array>
    <string>ij</string>
    <string>j</string>
    <string>jcircumflex</string>
    <string>uni0237</string>
  </array>
  <key>public.kern1.k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>public.kern1.l1</key>
  <array>
    <string>l</string>
    <string>lacute</string>
    <string>lcommaaccent</string>
  </array>
  <key>public.kern1.minus1</key>
  <array>
    <string>minus</string>
    <string>uni00AD</string>
  </array>
  <key>public.kern1.n1</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
  </array>
  <key>public.kern1.o1</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>otilde</string>
  </array>
  <key>public.kern1.onequarter</key>
  <array>
    <string>onequarter</string>
    <string>threequarters</string>
  </array>
  <key>public.kern1.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.r1</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern1.s1</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern1.slash1</key>
  <array>
    <string>slash</string>
    <string>uni2215</string>
  </array>
  <key>public.kern1.t1</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern1.u1</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern1.w1</key>
  <array>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern1.y1</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
  </array>
  <key>public.kern1.z1</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern2.A</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>B</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>F</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>P</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Thorn</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern2.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
  </array>
  <key>public.kern2.Eth</key>
  <array>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>public.kern2.G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern2.H</key>
  <array>
    <string>H</string>
    <string>Hcircumflex</string>
  </array>
  <key>public.kern2.I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Itilde</string>
  </array>
  <key>public.kern2.J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern2.M</key>
  <array>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern2.O</key>
  <array>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Otilde</string>
  </array>
  <key>public.kern2.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern2.U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern2.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
  </array>
  <key>public.kern2.Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aring</string>
    <string>atilde</string>
  </array>
  <key>public.kern2.acute</key>
  <array>
    <string>acute</string>
    <string>circumflex</string>
  </array>
  <key>public.kern2.c</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
  </array>
  <key>public.kern2.comma</key>
  <array>
    <string>comma</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.copyright</key>
  <array>
    <string>copyright</string>
    <string>registered</string>
  </array>
  <key>public.kern2.e</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
  </array>
  <key>public.kern2.endash</key>
  <array>
    <string>endash</string>
    <string>hyphen</string>
  </array>
  <key>public.kern2.g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
  </array>
  <key>public.kern2.h</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>public.kern2.i</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>itilde</string>
  </array>
  <key>public.kern2.j</key>
  <array>
    <string>j</string>
    <string>jcircumflex</string>
    <string>uni0237</string>
  </array>
  <key>public.kern2.l</key>
  <array>
    <string>l</string>
    <string>lacute</string>
    <string>lcommaaccent</string>
  </array>
  <key>public.kern2.ldot</key>
  <array>
    <string>lcaron</string>
    <string>ldot</string>
  </array>
  <key>public.kern2.minus</key>
  <array>
    <string>minus</string>
    <string>uni00AD</string>
  </array>
  <key>public.kern2.n</key>
  <array>
    <string>kgreenlandic</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
  </array>
  <key>public.kern2.o</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>otilde</string>
  </array>
  <key>public.kern2.percent</key>
  <array>
    <string>percent</string>
    <string>perthousand</string>
  </array>
  <key>public.kern2.r</key>
  <array>
    <string>longs</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern2.s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern2.slash</key>
  <array>
    <string>slash</string>
    <string>uni2215</string>
  </array>
  <key>public.kern2.t</key>
  <array>
    <string>t</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern2.u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern2.w</key>
  <array>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern2.y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
  </array>
  <key>public.kern2.z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
</dict>
</plist>
