<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AE</key>
  <dict>
    <key>d</key>
    <integer>-15</integer>
    <key>eth</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>q</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-15</integer>
    <key>public.kern2.e</key>
    <integer>-15</integer>
    <key>public.kern2.g</key>
    <integer>-15</integer>
    <key>public.kern2.o</key>
    <integer>-15</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-30</integer>
    <key>public.kern2.Y</key>
    <integer>-40</integer>
    <key>public.kern2.Z</key>
    <integer>-10</integer>
    <key>public.kern2.comma</key>
    <integer>-20</integer>
    <key>public.kern2.t</key>
    <integer>-10</integer>
    <key>public.kern2.w</key>
    <integer>-10</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
    <key>public.kern2.z</key>
    <integer>-20</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>AE</key>
    <integer>-60</integer>
    <key>Q</key>
    <integer>-20</integer>
    <key>ae</key>
    <integer>-70</integer>
    <key>d</key>
    <integer>-34</integer>
    <key>guilsinglright</key>
    <integer>-10</integer>
    <key>m</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-35</integer>
    <key>p</key>
    <integer>-20</integer>
    <key>period</key>
    <integer>-110</integer>
    <key>q</key>
    <integer>-35</integer>
    <key>v</key>
    <integer>-25</integer>
    <key>x</key>
    <integer>-50</integer>
    <key>public.kern2.A</key>
    <integer>-60</integer>
    <key>public.kern2.C</key>
    <integer>-20</integer>
    <key>public.kern2.G</key>
    <integer>-20</integer>
    <key>public.kern2.J</key>
    <integer>-40</integer>
    <key>public.kern2.O</key>
    <integer>-20</integer>
    <key>public.kern2.Y</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-35</integer>
    <key>public.kern2.c</key>
    <integer>-35</integer>
    <key>public.kern2.comma</key>
    <integer>-140</integer>
    <key>public.kern2.e</key>
    <integer>-35</integer>
    <key>public.kern2.endash</key>
    <integer>-30</integer>
    <key>public.kern2.g</key>
    <integer>-35</integer>
    <key>public.kern2.i</key>
    <integer>-20</integer>
    <key>public.kern2.j</key>
    <integer>-20</integer>
    <key>public.kern2.n</key>
    <integer>-20</integer>
    <key>public.kern2.o</key>
    <integer>-35</integer>
    <key>public.kern2.r</key>
    <integer>-25</integer>
    <key>public.kern2.s</key>
    <integer>-30</integer>
    <key>public.kern2.t</key>
    <integer>-30</integer>
    <key>public.kern2.u</key>
    <integer>-30</integer>
    <key>public.kern2.w</key>
    <integer>-30</integer>
    <key>public.kern2.y</key>
    <integer>-35</integer>
    <key>public.kern2.z</key>
    <integer>-30</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>Oslash</key>
    <integer>-20</integer>
    <key>Q</key>
    <integer>-20</integer>
    <key>public.kern2.C</key>
    <integer>-20</integer>
    <key>public.kern2.G</key>
    <integer>-20</integer>
    <key>public.kern2.O</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-70</integer>
    <key>public.kern2.U</key>
    <integer>-10</integer>
    <key>public.kern2.Y</key>
    <integer>-110</integer>
  </dict>
  <key>Oslash</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>public.kern2.A</key>
    <integer>-20</integer>
    <key>public.kern2.J</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-15</integer>
    <key>public.kern2.Y</key>
    <integer>-20</integer>
    <key>public.kern2.Z</key>
    <integer>-30</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>d</key>
    <integer>-35</integer>
    <key>oslash</key>
    <integer>-35</integer>
    <key>p</key>
    <integer>-10</integer>
    <key>period</key>
    <integer>-160</integer>
    <key>q</key>
    <integer>-35</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.A</key>
    <integer>-75</integer>
    <key>public.kern2.Y</key>
    <integer>-30</integer>
    <key>public.kern2.Z</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-35</integer>
    <key>public.kern2.c</key>
    <integer>-35</integer>
    <key>public.kern2.comma</key>
    <integer>-160</integer>
    <key>public.kern2.e</key>
    <integer>-35</integer>
    <key>public.kern2.endash</key>
    <integer>-70</integer>
    <key>public.kern2.g</key>
    <integer>-35</integer>
    <key>public.kern2.o</key>
    <integer>-35</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.J</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-15</integer>
    <key>public.kern2.Y</key>
    <integer>-20</integer>
    <key>public.kern2.Z</key>
    <integer>-20</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>AE</key>
    <integer>-65</integer>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>Q</key>
    <integer>-10</integer>
    <key>V</key>
    <integer>-10</integer>
    <key>ae</key>
    <integer>-30</integer>
    <key>colon</key>
    <integer>-30</integer>
    <key>d</key>
    <integer>-40</integer>
    <key>guilsinglright</key>
    <integer>-10</integer>
    <key>m</key>
    <integer>-10</integer>
    <key>oslash</key>
    <integer>-40</integer>
    <key>period</key>
    <integer>-110</integer>
    <key>q</key>
    <integer>-40</integer>
    <key>semicolon</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.A</key>
    <integer>-65</integer>
    <key>public.kern2.C</key>
    <integer>-10</integer>
    <key>public.kern2.G</key>
    <integer>-10</integer>
    <key>public.kern2.O</key>
    <integer>-10</integer>
    <key>public.kern2.S</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-50</integer>
    <key>public.kern2.c</key>
    <integer>-40</integer>
    <key>public.kern2.comma</key>
    <integer>-120</integer>
    <key>public.kern2.e</key>
    <integer>-40</integer>
    <key>public.kern2.endash</key>
    <integer>-35</integer>
    <key>public.kern2.g</key>
    <integer>-40</integer>
    <key>public.kern2.o</key>
    <integer>-40</integer>
    <key>public.kern2.s</key>
    <integer>-10</integer>
    <key>public.kern2.u</key>
    <integer>-20</integer>
    <key>public.kern2.w</key>
    <integer>-10</integer>
    <key>public.kern2.y</key>
    <integer>-10</integer>
    <key>public.kern2.z</key>
    <integer>-10</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>Oslash</key>
    <integer>-20</integer>
    <key>Q</key>
    <integer>-20</integer>
    <key>d</key>
    <integer>-30</integer>
    <key>f</key>
    <integer>-10</integer>
    <key>m</key>
    <integer>-10</integer>
    <key>oslash</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>public.kern2.C</key>
    <integer>-20</integer>
    <key>public.kern2.G</key>
    <integer>-20</integer>
    <key>public.kern2.O</key>
    <integer>-20</integer>
    <key>public.kern2.a</key>
    <integer>-30</integer>
    <key>public.kern2.c</key>
    <integer>-30</integer>
    <key>public.kern2.e</key>
    <integer>-30</integer>
    <key>public.kern2.endash</key>
    <integer>-50</integer>
    <key>public.kern2.g</key>
    <integer>-30</integer>
    <key>public.kern2.o</key>
    <integer>-30</integer>
    <key>public.kern2.r</key>
    <integer>-30</integer>
    <key>public.kern2.t</key>
    <integer>-25</integer>
    <key>public.kern2.u</key>
    <integer>-10</integer>
    <key>public.kern2.w</key>
    <integer>-40</integer>
    <key>public.kern2.y</key>
    <integer>-40</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>b</key>
    <integer>-10</integer>
    <key>d</key>
    <integer>-15</integer>
    <key>eth</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>period</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-15</integer>
    <key>quoteright</key>
    <integer>-50</integer>
    <key>quotesingle</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-15</integer>
    <key>public.kern2.comma</key>
    <integer>-50</integer>
    <key>public.kern2.g</key>
    <integer>-15</integer>
    <key>public.kern2.l</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-15</integer>
    <key>public.kern2.w</key>
    <integer>-10</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
    <key>public.kern2.z</key>
    <integer>-10</integer>
  </dict>
  <key>eth</key>
  <dict>
    <key>d</key>
    <integer>-15</integer>
    <key>eth</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>q</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-15</integer>
    <key>public.kern2.e</key>
    <integer>-15</integer>
    <key>public.kern2.g</key>
    <integer>-15</integer>
    <key>public.kern2.o</key>
    <integer>-15</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>ae</key>
    <integer>-20</integer>
    <key>d</key>
    <integer>-10</integer>
    <key>eth</key>
    <integer>-10</integer>
    <key>oslash</key>
    <integer>-10</integer>
    <key>period</key>
    <integer>-90</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-10</integer>
    <key>public.kern2.comma</key>
    <integer>-60</integer>
    <key>public.kern2.e</key>
    <integer>-10</integer>
    <key>public.kern2.g</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-10</integer>
  </dict>
  <key>five.subs</key>
  <dict>
    <key>one.subs</key>
    <integer>-20</integer>
    <key>two.subs</key>
    <integer>-10</integer>
  </dict>
  <key>five.superior</key>
  <dict>
    <key>onesuperior</key>
    <integer>-20</integer>
    <key>twosuperior</key>
    <integer>-10</integer>
  </dict>
  <key>four.subs</key>
  <dict>
    <key>five.subs</key>
    <integer>-20</integer>
    <key>one.subs</key>
    <integer>-20</integer>
    <key>seven.subs</key>
    <integer>-35</integer>
    <key>two.subs</key>
    <integer>-10</integer>
  </dict>
  <key>four.superior</key>
  <dict>
    <key>five.superior</key>
    <integer>-20</integer>
    <key>onesuperior</key>
    <integer>-20</integer>
    <key>seven.superior</key>
    <integer>-35</integer>
    <key>twosuperior</key>
    <integer>-10</integer>
  </dict>
  <key>fraction</key>
  <dict>
    <key>four.subs</key>
    <integer>-60</integer>
    <key>one.subs</key>
    <integer>40</integer>
    <key>seven.subs</key>
    <integer>50</integer>
    <key>six.subs</key>
    <integer>-10</integer>
  </dict>
  <key>guilsinglleft</key>
  <dict>
    <key>V</key>
    <integer>-30</integer>
    <key>public.kern2.T</key>
    <integer>-90</integer>
    <key>public.kern2.W</key>
    <integer>-20</integer>
    <key>public.kern2.Y</key>
    <integer>-50</integer>
  </dict>
  <key>m</key>
  <dict>
    <key>quoteright</key>
    <integer>-45</integer>
    <key>quotesingle</key>
    <integer>-45</integer>
  </dict>
  <key>oslash</key>
  <dict>
    <key>d</key>
    <integer>-15</integer>
    <key>eth</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>period</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-15</integer>
    <key>quoteright</key>
    <integer>-50</integer>
    <key>quotesingle</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-15</integer>
    <key>public.kern2.comma</key>
    <integer>-50</integer>
    <key>public.kern2.e</key>
    <integer>-15</integer>
    <key>public.kern2.g</key>
    <integer>-15</integer>
    <key>public.kern2.o</key>
    <integer>-15</integer>
    <key>public.kern2.w</key>
    <integer>-10</integer>
    <key>public.kern2.z</key>
    <integer>-10</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>d</key>
    <integer>-15</integer>
    <key>eth</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>period</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-15</integer>
    <key>quoteright</key>
    <integer>-50</integer>
    <key>quotesingle</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-15</integer>
    <key>public.kern2.comma</key>
    <integer>-50</integer>
    <key>public.kern2.e</key>
    <integer>-15</integer>
    <key>public.kern2.g</key>
    <integer>-15</integer>
    <key>public.kern2.o</key>
    <integer>-15</integer>
    <key>public.kern2.w</key>
    <integer>-10</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
    <key>public.kern2.z</key>
    <integer>-10</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>V</key>
    <integer>-90</integer>
    <key>public.kern2.T</key>
    <integer>-90</integer>
    <key>public.kern2.W</key>
    <integer>-90</integer>
    <key>public.kern2.Y</key>
    <integer>-90</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>V</key>
    <integer>-80</integer>
    <key>public.kern2.T</key>
    <integer>-100</integer>
    <key>public.kern2.Y</key>
    <integer>-100</integer>
  </dict>
  <key>quoteleft</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>Q</key>
    <integer>-10</integer>
    <key>d</key>
    <integer>-70</integer>
    <key>eth</key>
    <integer>-70</integer>
    <key>oslash</key>
    <integer>-70</integer>
    <key>q</key>
    <integer>-70</integer>
    <key>public.kern2.A</key>
    <integer>-90</integer>
    <key>public.kern2.C</key>
    <integer>-10</integer>
    <key>public.kern2.G</key>
    <integer>-10</integer>
    <key>public.kern2.J</key>
    <integer>-10</integer>
    <key>public.kern2.O</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-70</integer>
    <key>public.kern2.c</key>
    <integer>-70</integer>
    <key>public.kern2.e</key>
    <integer>-70</integer>
    <key>public.kern2.g</key>
    <integer>-70</integer>
    <key>public.kern2.o</key>
    <integer>-70</integer>
    <key>public.kern2.s</key>
    <integer>-60</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>d</key>
    <integer>-50</integer>
    <key>oslash</key>
    <integer>-50</integer>
    <key>q</key>
    <integer>-50</integer>
    <key>public.kern2.A</key>
    <integer>-80</integer>
    <key>public.kern2.a</key>
    <integer>-50</integer>
    <key>public.kern2.c</key>
    <integer>-50</integer>
    <key>public.kern2.e</key>
    <integer>-50</integer>
    <key>public.kern2.g</key>
    <integer>-50</integer>
    <key>public.kern2.o</key>
    <integer>-50</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>eight</key>
    <integer>-10</integer>
    <key>four</key>
    <integer>-60</integer>
    <key>six</key>
    <integer>-20</integer>
  </dict>
  <key>seven.subs</key>
  <dict>
    <key>four.subs</key>
    <integer>-40</integer>
    <key>six.subs</key>
    <integer>-10</integer>
  </dict>
  <key>seven.superior</key>
  <dict>
    <key>four.superior</key>
    <integer>-40</integer>
    <key>fraction</key>
    <integer>-20</integer>
    <key>six.superior</key>
    <integer>-10</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>nine</key>
    <integer>-10</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>three</key>
    <integer>-10</integer>
  </dict>
  <key>twosuperior</key>
  <dict>
    <key>onesuperior</key>
    <integer>-10</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>ae</key>
    <integer>-20</integer>
    <key>d</key>
    <integer>-20</integer>
    <key>eth</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>period</key>
    <integer>-70</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.c</key>
    <integer>-20</integer>
    <key>public.kern2.comma</key>
    <integer>-70</integer>
    <key>public.kern2.e</key>
    <integer>-20</integer>
    <key>public.kern2.endash</key>
    <integer>-60</integer>
    <key>public.kern2.g</key>
    <integer>-20</integer>
    <key>public.kern2.h</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-20</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>-30</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>five</key>
    <integer>-10</integer>
  </dict>
  <key>zero.subs</key>
  <dict>
    <key>five.subs</key>
    <integer>-10</integer>
    <key>one.subs</key>
    <integer>-10</integer>
  </dict>
  <key>zero.superior</key>
  <dict>
    <key>five.superior</key>
    <integer>-10</integer>
    <key>onesuperior</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.A1</key>
  <dict>
    <key>V</key>
    <integer>-80</integer>
    <key>d</key>
    <integer>-20</integer>
    <key>eth</key>
    <integer>-20</integer>
    <key>f</key>
    <integer>-30</integer>
    <key>p</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>quoteright</key>
    <integer>-40</integer>
    <key>quotesingle</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>public.kern2.T</key>
    <integer>-60</integer>
    <key>public.kern2.U</key>
    <integer>-30</integer>
    <key>public.kern2.W</key>
    <integer>-35</integer>
    <key>public.kern2.Y</key>
    <integer>-90</integer>
    <key>public.kern2.c</key>
    <integer>-20</integer>
    <key>public.kern2.e</key>
    <integer>-20</integer>
    <key>public.kern2.g</key>
    <integer>-20</integer>
    <key>public.kern2.o</key>
    <integer>-20</integer>
    <key>public.kern2.t</key>
    <integer>-20</integer>
    <key>public.kern2.u</key>
    <integer>-10</integer>
    <key>public.kern2.w</key>
    <integer>-30</integer>
    <key>public.kern2.y</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.C1</key>
  <dict>
    <key>Q</key>
    <integer>-5</integer>
    <key>X</key>
    <integer>-10</integer>
    <key>d</key>
    <integer>-10</integer>
    <key>f</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.C</key>
    <integer>-5</integer>
    <key>public.kern2.G</key>
    <integer>-5</integer>
    <key>public.kern2.O</key>
    <integer>-5</integer>
    <key>public.kern2.Y</key>
    <integer>-20</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-10</integer>
    <key>public.kern2.e</key>
    <integer>-10</integer>
    <key>public.kern2.g</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-10</integer>
    <key>public.kern2.w</key>
    <integer>-20</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.D1</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>ae</key>
    <integer>-20</integer>
    <key>period</key>
    <integer>-55</integer>
    <key>x</key>
    <integer>-15</integer>
    <key>public.kern2.A</key>
    <integer>-20</integer>
    <key>public.kern2.J</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-15</integer>
    <key>public.kern2.Y</key>
    <integer>-20</integer>
    <key>public.kern2.Z</key>
    <integer>-30</integer>
    <key>public.kern2.comma</key>
    <integer>-90</integer>
  </dict>
  <key>public.kern1.E</key>
  <dict>
    <key>d</key>
    <integer>-30</integer>
    <key>f</key>
    <integer>-10</integer>
    <key>p</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>public.kern2.c</key>
    <integer>-30</integer>
    <key>public.kern2.e</key>
    <integer>-30</integer>
    <key>public.kern2.g</key>
    <integer>-30</integer>
    <key>public.kern2.o</key>
    <integer>-30</integer>
    <key>public.kern2.t</key>
    <integer>-30</integer>
    <key>public.kern2.u</key>
    <integer>-20</integer>
    <key>public.kern2.w</key>
    <integer>-30</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.G1</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>public.kern2.T</key>
    <integer>-10</integer>
    <key>public.kern2.Y</key>
    <integer>-20</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.I1</key>
  <dict>
    <key>d</key>
    <integer>-10</integer>
    <key>eth</key>
    <integer>-10</integer>
    <key>f</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-10</integer>
    <key>public.kern2.e</key>
    <integer>-10</integer>
    <key>public.kern2.g</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-10</integer>
    <key>public.kern2.s</key>
    <integer>-10</integer>
    <key>public.kern2.t</key>
    <integer>-10</integer>
    <key>public.kern2.u</key>
    <integer>-10</integer>
    <key>public.kern2.w</key>
    <integer>-15</integer>
    <key>public.kern2.y</key>
    <integer>-55</integer>
    <key>public.kern2.z</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.J1</key>
  <dict>
    <key>AE</key>
    <integer>-20</integer>
    <key>d</key>
    <integer>-40</integer>
    <key>m</key>
    <integer>-10</integer>
    <key>p</key>
    <integer>-10</integer>
    <key>period</key>
    <integer>-70</integer>
    <key>q</key>
    <integer>-40</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.A</key>
    <integer>-10</integer>
    <key>public.kern2.J</key>
    <integer>-20</integer>
    <key>public.kern2.a</key>
    <integer>-40</integer>
    <key>public.kern2.c</key>
    <integer>-40</integer>
    <key>public.kern2.comma</key>
    <integer>-70</integer>
    <key>public.kern2.e</key>
    <integer>-40</integer>
    <key>public.kern2.g</key>
    <integer>-40</integer>
    <key>public.kern2.n</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-40</integer>
    <key>public.kern2.r</key>
    <integer>-10</integer>
    <key>public.kern2.s</key>
    <integer>-15</integer>
    <key>public.kern2.u</key>
    <integer>-15</integer>
    <key>public.kern2.y</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>Q</key>
    <integer>-10</integer>
    <key>d</key>
    <integer>-20</integer>
    <key>f</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>public.kern2.C</key>
    <integer>-10</integer>
    <key>public.kern2.G</key>
    <integer>-10</integer>
    <key>public.kern2.O</key>
    <integer>-10</integer>
    <key>public.kern2.U</key>
    <integer>-5</integer>
    <key>public.kern2.W</key>
    <integer>-5</integer>
    <key>public.kern2.Y</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.c</key>
    <integer>-20</integer>
    <key>public.kern2.e</key>
    <integer>-20</integer>
    <key>public.kern2.endash</key>
    <integer>-20</integer>
    <key>public.kern2.g</key>
    <integer>-20</integer>
    <key>public.kern2.o</key>
    <integer>-20</integer>
    <key>public.kern2.w</key>
    <integer>-20</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>Oslash</key>
    <integer>-20</integer>
    <key>Q</key>
    <integer>-20</integer>
    <key>V</key>
    <integer>-70</integer>
    <key>f</key>
    <integer>-20</integer>
    <key>quoteright</key>
    <integer>-110</integer>
    <key>quotesingle</key>
    <integer>-110</integer>
    <key>v</key>
    <integer>-60</integer>
    <key>public.kern2.C</key>
    <integer>-20</integer>
    <key>public.kern2.G</key>
    <integer>-20</integer>
    <key>public.kern2.O</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-70</integer>
    <key>public.kern2.U</key>
    <integer>-10</integer>
    <key>public.kern2.W</key>
    <integer>-40</integer>
    <key>public.kern2.Y</key>
    <integer>-110</integer>
    <key>public.kern2.u</key>
    <integer>-10</integer>
    <key>public.kern2.w</key>
    <integer>-20</integer>
    <key>public.kern2.y</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.O1</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-30</integer>
    <key>period</key>
    <integer>-70</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.A</key>
    <integer>-20</integer>
    <key>public.kern2.J</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-30</integer>
    <key>public.kern2.Y</key>
    <integer>-20</integer>
    <key>public.kern2.Z</key>
    <integer>-30</integer>
    <key>public.kern2.comma</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>d</key>
    <integer>-10</integer>
    <key>oslash</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>public.kern2.Y</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-10</integer>
    <key>public.kern2.e</key>
    <integer>-10</integer>
    <key>public.kern2.endash</key>
    <integer>-20</integer>
    <key>public.kern2.g</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.S1</key>
  <dict>
    <key>f</key>
    <integer>-10</integer>
    <key>quoteright</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-30</integer>
    <key>public.kern2.S</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-25</integer>
    <key>public.kern2.Y</key>
    <integer>-20</integer>
    <key>public.kern2.w</key>
    <integer>-10</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.T1</key>
  <dict>
    <key>AE</key>
    <integer>-50</integer>
    <key>Oslash</key>
    <integer>-30</integer>
    <key>Q</key>
    <integer>-30</integer>
    <key>ae</key>
    <integer>-70</integer>
    <key>colon</key>
    <integer>-50</integer>
    <key>d</key>
    <integer>-90</integer>
    <key>f</key>
    <integer>-60</integer>
    <key>guilsinglright</key>
    <integer>-90</integer>
    <key>lslash</key>
    <integer>-40</integer>
    <key>m</key>
    <integer>-65</integer>
    <key>oslash</key>
    <integer>-90</integer>
    <key>p</key>
    <integer>-65</integer>
    <key>period</key>
    <integer>-50</integer>
    <key>q</key>
    <integer>-90</integer>
    <key>semicolon</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-60</integer>
    <key>x</key>
    <integer>-50</integer>
    <key>public.kern2.A</key>
    <integer>-60</integer>
    <key>public.kern2.C</key>
    <integer>-30</integer>
    <key>public.kern2.G</key>
    <integer>-30</integer>
    <key>public.kern2.O</key>
    <integer>-30</integer>
    <key>public.kern2.S</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-90</integer>
    <key>public.kern2.c</key>
    <integer>-90</integer>
    <key>public.kern2.comma</key>
    <integer>-100</integer>
    <key>public.kern2.e</key>
    <integer>-90</integer>
    <key>public.kern2.endash</key>
    <integer>-90</integer>
    <key>public.kern2.g</key>
    <integer>-90</integer>
    <key>public.kern2.j</key>
    <integer>-35</integer>
    <key>public.kern2.n</key>
    <integer>-65</integer>
    <key>public.kern2.o</key>
    <integer>-90</integer>
    <key>public.kern2.r</key>
    <integer>-65</integer>
    <key>public.kern2.s</key>
    <integer>-60</integer>
    <key>public.kern2.t</key>
    <integer>-30</integer>
    <key>public.kern2.u</key>
    <integer>-65</integer>
    <key>public.kern2.w</key>
    <integer>-50</integer>
    <key>public.kern2.y</key>
    <integer>-60</integer>
    <key>public.kern2.z</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.U1</key>
  <dict>
    <key>d</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>period</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>public.kern2.A</key>
    <integer>-25</integer>
    <key>public.kern2.I</key>
    <integer>-10</integer>
    <key>public.kern2.J</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.c</key>
    <integer>-20</integer>
    <key>public.kern2.comma</key>
    <integer>-50</integer>
    <key>public.kern2.e</key>
    <integer>-20</integer>
    <key>public.kern2.g</key>
    <integer>-20</integer>
    <key>public.kern2.o</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.W1</key>
  <dict>
    <key>Oslash</key>
    <integer>-15</integer>
    <key>Q</key>
    <integer>-15</integer>
    <key>colon</key>
    <integer>-40</integer>
    <key>d</key>
    <integer>-60</integer>
    <key>f</key>
    <integer>-20</integer>
    <key>guilsinglright</key>
    <integer>-40</integer>
    <key>m</key>
    <integer>-45</integer>
    <key>oslash</key>
    <integer>-60</integer>
    <key>p</key>
    <integer>-20</integer>
    <key>period</key>
    <integer>-70</integer>
    <key>q</key>
    <integer>-60</integer>
    <key>semicolon</key>
    <integer>-40</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>x</key>
    <integer>-40</integer>
    <key>public.kern2.A</key>
    <integer>-75</integer>
    <key>public.kern2.C</key>
    <integer>-15</integer>
    <key>public.kern2.G</key>
    <integer>-15</integer>
    <key>public.kern2.O</key>
    <integer>-15</integer>
    <key>public.kern2.S</key>
    <integer>-10</integer>
    <key>public.kern2.Y</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-60</integer>
    <key>public.kern2.c</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-100</integer>
    <key>public.kern2.e</key>
    <integer>-60</integer>
    <key>public.kern2.endash</key>
    <integer>-40</integer>
    <key>public.kern2.g</key>
    <integer>-60</integer>
    <key>public.kern2.i</key>
    <integer>-20</integer>
    <key>public.kern2.j</key>
    <integer>-20</integer>
    <key>public.kern2.n</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-60</integer>
    <key>public.kern2.r</key>
    <integer>-30</integer>
    <key>public.kern2.s</key>
    <integer>-40</integer>
    <key>public.kern2.t</key>
    <integer>-20</integer>
    <key>public.kern2.u</key>
    <integer>-50</integer>
    <key>public.kern2.w</key>
    <integer>-30</integer>
    <key>public.kern2.y</key>
    <integer>-30</integer>
    <key>public.kern2.z</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.Y1</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>Q</key>
    <integer>-10</integer>
    <key>colon</key>
    <integer>-48</integer>
    <key>d</key>
    <integer>-70</integer>
    <key>f</key>
    <integer>-41</integer>
    <key>guilsinglright</key>
    <integer>-50</integer>
    <key>m</key>
    <integer>-56</integer>
    <key>oslash</key>
    <integer>-70</integer>
    <key>p</key>
    <integer>-57</integer>
    <key>period</key>
    <integer>-90</integer>
    <key>q</key>
    <integer>-70</integer>
    <key>semicolon</key>
    <integer>-49</integer>
    <key>v</key>
    <integer>-40</integer>
    <key>x</key>
    <integer>-60</integer>
    <key>public.kern2.A</key>
    <integer>-40</integer>
    <key>public.kern2.C</key>
    <integer>-10</integer>
    <key>public.kern2.G</key>
    <integer>-10</integer>
    <key>public.kern2.J</key>
    <integer>-20</integer>
    <key>public.kern2.O</key>
    <integer>-10</integer>
    <key>public.kern2.S</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-70</integer>
    <key>public.kern2.c</key>
    <integer>-70</integer>
    <key>public.kern2.comma</key>
    <integer>-111</integer>
    <key>public.kern2.e</key>
    <integer>-70</integer>
    <key>public.kern2.endash</key>
    <integer>-81</integer>
    <key>public.kern2.g</key>
    <integer>-70</integer>
    <key>public.kern2.i</key>
    <integer>-30</integer>
    <key>public.kern2.j</key>
    <integer>-51</integer>
    <key>public.kern2.n</key>
    <integer>-56</integer>
    <key>public.kern2.o</key>
    <integer>-70</integer>
    <key>public.kern2.r</key>
    <integer>-55</integer>
    <key>public.kern2.s</key>
    <integer>-66</integer>
    <key>public.kern2.t</key>
    <integer>-37</integer>
    <key>public.kern2.u</key>
    <integer>-58</integer>
    <key>public.kern2.w</key>
    <integer>-41</integer>
    <key>public.kern2.y</key>
    <integer>-39</integer>
    <key>public.kern2.z</key>
    <integer>-44</integer>
  </dict>
  <key>public.kern1.Z1</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>Q</key>
    <integer>-10</integer>
    <key>d</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>public.kern2.C</key>
    <integer>-10</integer>
    <key>public.kern2.G</key>
    <integer>-10</integer>
    <key>public.kern2.O</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.c</key>
    <integer>-20</integer>
    <key>public.kern2.e</key>
    <integer>-20</integer>
    <key>public.kern2.endash</key>
    <integer>-60</integer>
    <key>public.kern2.g</key>
    <integer>-20</integer>
    <key>public.kern2.o</key>
    <integer>-20</integer>
    <key>public.kern2.u</key>
    <integer>-30</integer>
    <key>public.kern2.w</key>
    <integer>-30</integer>
    <key>public.kern2.y</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.a1</key>
  <dict>
    <key>quoteright</key>
    <integer>-15</integer>
    <key>quotesingle</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.comma1</key>
  <dict>
    <key>Q</key>
    <integer>-70</integer>
    <key>V</key>
    <integer>-96</integer>
    <key>v</key>
    <integer>-90</integer>
    <key>public.kern2.C</key>
    <integer>-60</integer>
    <key>public.kern2.G</key>
    <integer>-60</integer>
    <key>public.kern2.O</key>
    <integer>-60</integer>
    <key>public.kern2.T</key>
    <integer>-110</integer>
    <key>public.kern2.U</key>
    <integer>-90</integer>
    <key>public.kern2.W</key>
    <integer>-90</integer>
    <key>public.kern2.Y</key>
    <integer>-120</integer>
    <key>public.kern2.t</key>
    <integer>-80</integer>
    <key>public.kern2.w</key>
    <integer>-60</integer>
    <key>public.kern2.y</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.e1</key>
  <dict>
    <key>d</key>
    <integer>-15</integer>
    <key>eth</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>period</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-15</integer>
    <key>quoteright</key>
    <integer>-50</integer>
    <key>quotesingle</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-15</integer>
    <key>public.kern2.comma</key>
    <integer>-50</integer>
    <key>public.kern2.e</key>
    <integer>-15</integer>
    <key>public.kern2.g</key>
    <integer>-15</integer>
    <key>public.kern2.o</key>
    <integer>-15</integer>
    <key>public.kern2.w</key>
    <integer>-10</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
    <key>public.kern2.z</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.endash1</key>
  <dict>
    <key>V</key>
    <integer>-40</integer>
    <key>X</key>
    <integer>-60</integer>
    <key>x</key>
    <integer>-50</integer>
    <key>public.kern2.T</key>
    <integer>-110</integer>
    <key>public.kern2.W</key>
    <integer>-30</integer>
    <key>public.kern2.Y</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.h1</key>
  <dict>
    <key>quoteright</key>
    <integer>-50</integer>
    <key>quotesingle</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-5</integer>
    <key>public.kern2.j</key>
    <integer>-5</integer>
    <key>public.kern2.w</key>
    <integer>-5</integer>
    <key>public.kern2.y</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>d</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>q</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-15</integer>
    <key>public.kern2.e</key>
    <integer>-15</integer>
    <key>public.kern2.endash</key>
    <integer>-57</integer>
    <key>public.kern2.g</key>
    <integer>-15</integer>
    <key>public.kern2.o</key>
    <integer>-15</integer>
    <key>public.kern2.u</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.n1</key>
  <dict>
    <key>quoteright</key>
    <integer>-45</integer>
    <key>quotesingle</key>
    <integer>-45</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>public.kern2.t</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.o1</key>
  <dict>
    <key>d</key>
    <integer>-15</integer>
    <key>eth</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>p</key>
    <integer>-5</integer>
    <key>period</key>
    <integer>-30</integer>
    <key>q</key>
    <integer>-15</integer>
    <key>quoteright</key>
    <integer>-50</integer>
    <key>quotesingle</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-15</integer>
    <key>public.kern2.comma</key>
    <integer>-50</integer>
    <key>public.kern2.g</key>
    <integer>-15</integer>
    <key>public.kern2.h</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-15</integer>
    <key>public.kern2.w</key>
    <integer>-10</integer>
    <key>public.kern2.y</key>
    <integer>-20</integer>
    <key>public.kern2.z</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.r1</key>
  <dict>
    <key>ae</key>
    <integer>-30</integer>
    <key>d</key>
    <integer>-30</integer>
    <key>eth</key>
    <integer>-30</integer>
    <key>oslash</key>
    <integer>-30</integer>
    <key>period</key>
    <integer>-110</integer>
    <key>q</key>
    <integer>-30</integer>
    <key>public.kern2.a</key>
    <integer>-30</integer>
    <key>public.kern2.c</key>
    <integer>-30</integer>
    <key>public.kern2.comma</key>
    <integer>-120</integer>
    <key>public.kern2.e</key>
    <integer>-30</integer>
    <key>public.kern2.endash</key>
    <integer>-40</integer>
    <key>public.kern2.g</key>
    <integer>-30</integer>
    <key>public.kern2.o</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.t1</key>
  <dict>
    <key>d</key>
    <integer>-10</integer>
    <key>eth</key>
    <integer>-10</integer>
    <key>oslash</key>
    <integer>-10</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-10</integer>
    <key>public.kern2.e</key>
    <integer>-10</integer>
    <key>public.kern2.endash</key>
    <integer>-20</integer>
    <key>public.kern2.g</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.w1</key>
  <dict>
    <key>d</key>
    <integer>-30</integer>
    <key>oslash</key>
    <integer>-30</integer>
    <key>period</key>
    <integer>-40</integer>
    <key>q</key>
    <integer>-30</integer>
    <key>public.kern2.a</key>
    <integer>-30</integer>
    <key>public.kern2.c</key>
    <integer>-30</integer>
    <key>public.kern2.comma</key>
    <integer>-80</integer>
    <key>public.kern2.e</key>
    <integer>-30</integer>
    <key>public.kern2.endash</key>
    <integer>-30</integer>
    <key>public.kern2.g</key>
    <integer>-30</integer>
    <key>public.kern2.o</key>
    <integer>-30</integer>
    <key>public.kern2.s</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.y1</key>
  <dict>
    <key>d</key>
    <integer>-10</integer>
    <key>eth</key>
    <integer>-10</integer>
    <key>oslash</key>
    <integer>-10</integer>
    <key>period</key>
    <integer>-50</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-10</integer>
    <key>public.kern2.comma</key>
    <integer>-50</integer>
    <key>public.kern2.e</key>
    <integer>-10</integer>
    <key>public.kern2.endash</key>
    <integer>-10</integer>
    <key>public.kern2.g</key>
    <integer>-10</integer>
    <key>public.kern2.o</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.z1</key>
  <dict>
    <key>d</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>q</key>
    <integer>-20</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.c</key>
    <integer>-20</integer>
    <key>public.kern2.e</key>
    <integer>-20</integer>
    <key>public.kern2.g</key>
    <integer>-20</integer>
    <key>public.kern2.o</key>
    <integer>-20</integer>
  </dict>
</dict>
</plist>
